.list-of-books{
    width: 50%;
    margin: 0 auto ;
    color: #1402b4;
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    background-color: rgb(155, 195, 254);
    padding-top: 20px;
  }
  
  .main-div-of-listgroup{
    display: flex;
    width: 70%;
    height: 220px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
  }
  