

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->

    <p class="signing-in-main-words">Войти</p>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login" #username>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password" #password>
      <input (click)="login(username.value, password.value);"  type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/signUp">Зарегистрироваться?</a>
    </div>

  </div>
</div>
