<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Login Form -->

    <p class="signing-in-main-words">Зарегистрироваться</p>

    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login" #login>
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password" #password>
      <input type="text" id="email" class="fadeIn third" name="login" placeholder="Email" #email>
      <input (click)="signUp(login.value, password.value, email.value);" type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <p>Уже есть аккаунт</p>
      <a class="underlineHover" routerLink="/login">Авторизоваться?</a>
    </div>

  </div>
</div>
